<html>
<body>
<div>
Список депозитов
</div>
{{#deposit}}
<div>
    {{id}}
    {{idClient}}
    {{amount}}
    {{percent}}
    {{pretermPercent}}
    {{termDays}}
    {{startDate}}
    {{withPercentCapitalization}}
</div>
</body>
</html>